@using WebApplicationMVC.Models
@model WebApplicationMVC.Models.User

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Редактирование пользователя";
}

<div class="container mt-5" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <div class="card-header">
            <h2>Редактирование данных пользователя</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Edit" asp-controller="User">
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Username" class="form-label"><strong>Логин:</strong></label>
                    <input name="Username" class="form-control" placeholder="Введите логин" value="@Model.Username" required />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"><strong>Электронная почта:</strong></label>
                    <input name="Email" type="email" class="form-control" placeholder="Введите email" value="@Model.Email" required />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Fullname" class="form-label"><strong>Полное имя:</strong></label>
                    <input name="Fullname" class="form-control" placeholder="Введите полное имя" value="@Model.Fullname" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Bio" class="form-label"><strong>О себе:</strong></label>
                    <textarea name="Bio" class="form-control" placeholder="Введите информацию о себе">@Model.Bio</textarea>
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Contactinfo" class="form-label"><strong>Контактная информация:</strong></label>
                    <input name="Contactinfo" class="form-control" placeholder="Введите контактные данные" value="@Model.Contactinfo" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Роль:</strong></label>
                    <select name="roleId" class="form-select" required>
                        @foreach (var role in ViewBag.Roles as List<Role>)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-secondary">Сохранить изменения</button>
                    <a href="@Url.Action("Details", "User", new { id = Model.Id })" class="btn btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
