@model WebApplicationMVC.Models.Article
@using WebApplicationMVC.Models;

@{
    ViewData["Title"] = "Редактирование статьи";
    Layout = "_MainLayout";
}

<div class="container mt-5" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <div class="card-header">
            <h2>Редактирование статьи</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Edit" asp-controller="Article">
                <input type="hidden" name="id" value="@Model.Id" />

                <div class="d-flex justify-content-start mb-4">
                    <div class="user-avatar-wrapper" style="width: 120px; height: 160px; background-color: #bdc3c7; border-radius: 5px; overflow: hidden;">
                        <img id="previewImg" src="@Model.Previewurl" alt="Превью статьи не загружено." class="preview-img" style="width: 100%; height: 100%; object-fit: cover;" />
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Ссылка на превью статьи:</strong></label>
                    <input name="previewUrl" id="previewUrl" class="form-control" placeholder="Введите ссылку на превью статьи" value="@Model.Previewurl" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Название статьи:</strong></label>
                    <input name="title" class="form-control" placeholder="Введите название статьи" value="@Model.Title" required />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Содержание:</strong></label>
                    <textarea name="content" class="form-control" placeholder="Введите текст статьи">@Model.Content</textarea>
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Видимость:</strong></label>
                    <select name="visibilityId" class="form-select" required>
                        @foreach (var visibility in ViewBag.VisibilityOptions as List<Visibility>)
                        {
                            var visibilityNameLocalized = visibility.Name switch
                            {
                                "Public" => "Публичная",
                                "Private" => "Приватная",
                                _ => visibility.Name //
                            };
                            <option value="@visibility.Id" @(visibility.Id == Model.Visibilityid ? "selected" : null)>
                                @visibilityNameLocalized
                            </option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="form-label"><strong>Теги:</strong></label>
                    <input name="tagNames" class="form-control" placeholder="Введите теги, разделяя их запятыми" value="@string.Join(", ", Model.Tags.Select(t => t.Name))" />
                    <span class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a href="@Url.Action("Details", "Article", new { id = Model.Id })" class="btn btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("previewUrl").addEventListener("input", function() {
        var previewUrl = this.value;
        var previewImage = document.getElementById("previewImg");

        if (previewUrl) {
            previewImage.src = previewUrl;
        }
    });
</script>
