@using WebApplicationMVC.Models
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <h2 class="mb-4">Теги</h2>

    <div class="tag-list">
        @foreach (var tag in ViewData["Tags"] as List<Tag>)
        {
            <div class="tag-item">
                @tag.Name
            </div>
        }
    </div>

    <h2 class="mb-4">Статьи</h2>

    <div class="list-group">
        @foreach (var article in Model)
        {
            <div class="article-card">
                <div class="d-flex flex-column">
                    <h4 class="mb-2">@article.Title</h4>
                    <p>
                        Автор:
                        <strong>
                            @if (article.User != null)
                            {
                                <a href="@Url.Action("Details", "User", new { id = article.User.Id })">
                                    @article.User.Username
                                </a>
                            }
                            else
                            {
                                @:Неизвестно
                            }
                        </strong>
                    </p>
                    <p>Дата публикации: @article.Createdat.ToString("dd.MM.yyyy HH:mm")</p>
                    <p>Просмотры: @(article.Views != null ? article.Views.Count : 0)</p>

                    <p>
                        Средняя оценка:
                        @{
                            if (article.Ratings != null && article.Ratings.Count > 0)
                            {
                                var total = 0;
                                foreach (var rating in article.Ratings)
                                {
                                    total += rating.Value;
                                }
                                var average = (double)total / article.Ratings.Count;
                                @average.ToString("0.0")
                            }
                            else
                            {
                                @:Нет оценок
                            }
                        }
                    </p>

                    <div>
                        @if (article.Tags != null && article.Tags.Count > 0)
                        {
                            foreach (var tag in article.Tags)
                            {
                                <span class="badge bg-secondary me-2">@tag.Name</span>
                            }
                        }
                    </div>

                    <a href="@Url.Action("Details", "Article", new { id = article.Id })" style="color: #fff" class="btn btn-secondary mt-2">Читать</a>
                </div>
            </div>
        }
    </div>
</div>
